openapi: 3.0.3
info:
  title: Talent Catalog API
  description: |
    The Talent Catalog (TC) is a purpose-built platform designed to connect skilled displaced 
    populations with international job opportunities while also facilitating access to refugee-focused 
    support services. Originally launched in 2016, the open-sourced platform has undergone multiple 
    rounds of user-driven enhancements, meaning that its development has always been informed by the 
    lived experiences and needs of refugees. 
    
    Despite possessing valuable skills and experience, displaced individuals often face significant 
    barriers to securing international employment, including bureaucratic restrictions, lack of 
    direct employer engagement, and limited visibility in global talent markets. At the same time, 
    many struggle to navigate the fragmented landscape of refugee support services. The Talent 
    Catalog API seeks to address both of these challenges—connecting skilled refugees to global job 
    markets and making it possible for all displaced individuals to easily connect with humanitarian 
    and employment-related support networks.
    
    ### Key Features
    - Access anonymized candidate data: Retrieve anonymized candidate profiles from the TC database.
    - Filter and search: Find candidates based on various criteria (e.g. location, occupation, or 
    nationality).
    - Post job matches: Match candidates with relevant job opportunities.
    - Post assistance service matches: Match candidates with relevant assistance services that can 
    help them in their career or relocation.
    - Register new candidates: Submit new candidate registrations directly to the Talent Catalog 
    (TC) database.

    ### Authentication
    The Talent Catalog API uses **API Key Authentication**.  
    - Contact us for an API key and include it in the request header named `X-API-Key`.

    ### Rate Limits
    For consistent API performance and fair use, the API enforces a rate limit of:
    - **1,000 requests per hour** per API key.
    - If you exceed this limit, you will receive a `429 Too Many Requests` response.
    - Rate limit status is returned in the response headers:
      - `X-RateLimit-Limit`: The maximum number of requests allowed per hour.
      - `X-RateLimit-Remaining`: The number of requests remaining in the current time window.
      - `X-RateLimit-Reset`: The time at which the rate limit resets.

    ### Getting Started
    - Contact us to register for an API key.
    - Use the endpoints below to search anonymised candidate profiles, post job matches, post 
    assistance service matches, and register candidates. 


  version: 1.0.0
  termsOfService: https://tctalent.org/terms
  contact:
    name: Talent Catalog API Support
    url: https://github.com/Talent-Catalog/tc-api-spec
    email: api@talentcatalog.net
  license:
    name: Gnu Affero General Public License
    url: https://www.gnu.org/licenses/agpl-3.0.html
  x-logo:
    url: ./assets/tc-logo.png
    altText: Talent Catalog logo

tags:
  - name: Candidates
    description: Operations related to anonymised candidates

servers:
  - url: https://tctalent.org/ads
    description: Production server
  - url: https://tctalent-test.org/ads
    description: Staging server

paths:
  /v1/candidates:
    $ref: paths/v1/candidates.yaml
  /v1/candidates/{publicId}:
    $ref: ./paths/v1/candidates-publicId.yaml
  /v1/candidates/job-match:
    $ref: ./paths/v1/candidates-job-match.yaml
  /v1/candidates/offer-to-assist:
    $ref: ./paths/v1/candidates-offer-to-assist.yaml
  /v1/candidates/register:
    $ref: ./paths/v1/candidates-register.yaml

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  schemas:
    IdentifiableCandidate:
      $ref: ./components/schemas/v1/IdentifiableCandidate.yaml
    IdentifiableCandidatePage:
      $ref: ./components/schemas/v1/IdentifiableCandidatePage.yaml
    IdentifiableDependant:
      $ref: ./components/schemas/v1/IdentifiableDependant.yaml
    IdentifiableCandidateVisaCheck:
      $ref: ./components/schemas/v1/IdentifiableCandidateVisaCheck.yaml
    IdentifiableCandidateVisaJobCheck:
      $ref: ./components/schemas/v1/IdentifiableCandidateVisaJobCheck.yaml

security:
  - ApiKeyAuth: []
