openapi: 3.0.3
info:
  title: Talent Catalog API
  description: |
    The Talent Catalog (TC) is a purpose-built platform designed to connect skilled displaced 
    populations with international job opportunities while also facilitating access to refugee-focused 
    support services. Originally launched in 2016, the open-sourced platform has undergone multiple 
    rounds of user-driven enhancements, meaning that its development has always been informed by the 
    lived experiences and needs of refugees. 
    
    Despite possessing valuable skills and experience, displaced individuals often face significant 
    barriers to securing international employment, including bureaucratic restrictions, lack of 
    direct employer engagement, and limited visibility in global talent markets. At the same time, 
    many struggle to navigate the fragmented landscape of refugee support services. The Talent 
    Catalog API seeks to address both of these challenges—connecting skilled refugees to global job 
    markets and making it possible for all displaced individuals to easily connect with humanitarian 
    and employment-related support networks.
    
    ### Key Features:
    - **Search Candidate Profiles**: Retrieve anonymised candidate data from the TC database.
    - **Filter Search Results**: Find candidates based on various criteria (e.g. location, 
    occupation, or nationality).    
    - **Register Candidates**: Submit new candidate registrations directly to the TC database.
    - **Post Job Matches**: Match candidate profiles with job opportunities.
    - **Post Service Matches**: Match candidate profiles with assistance services.

    ### Authentication:
    The Talent Catalog API uses API Key Authentication.
    Each request must include an `X-API-Key` header with your API key.
    Contact us to register for an API key.


  version: 1.0.0
  termsOfService: https://tctalent.org/terms
  contact:
    name: Talent Catalog API Support
    url: https://github.com/Talent-Catalog/tc-api-spec
    email: api@talentcatalog.net
  license:
    name: Gnu Affero General Public License
    url: https://www.gnu.org/licenses/agpl-3.0.html
  x-logo:
    url: ./assets/tc-logo.png
    altText: Talent Catalog logo

tags:
  - name: Candidates
    description: Operations related to anonymised candidates.

servers:
  - url: https://tctalent.org/ads
    description: Production server
  - url: https://tctalent-test.org/ads
    description: Staging server

paths:
  /v1/candidates:
    $ref: paths/v1/candidates.yaml
  /v1/candidates/{publicId}:
    $ref: ./paths/v1/candidates-publicId.yaml
  /v1/candidates/job-match:
    $ref: ./paths/v1/candidates-job-match.yaml
  /v1/candidates/offer-to-assist:
    $ref: ./paths/v1/candidates-offer-to-assist.yaml
  /v1/candidates/register:
    $ref: ./paths/v1/candidates-register.yaml

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY

  schemas:
    IdentifiableCandidate:
      $ref: ./components/schemas/v1/IdentifiableCandidate.yaml
    IdentifiableCandidatePage:
      $ref: ./components/schemas/v1/IdentifiableCandidatePage.yaml
    IdentifiableDependant:
      $ref: ./components/schemas/v1/IdentifiableDependant.yaml
    IdentifiableCandidateVisaCheck:
      $ref: ./components/schemas/v1/IdentifiableCandidateVisaCheck.yaml
    IdentifiableCandidateVisaJobCheck:
      $ref: ./components/schemas/v1/IdentifiableCandidateVisaJobCheck.yaml

security:
  - ApiKeyAuth: []
